@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #000000;
    --cor1: #ababab;
    --cor2: #00adad;
    --cor3: #005b60;
    --branco: #FFFFFF;
    --laranja-claro: #FF862A;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
}

button:focus, a:focus {
    outline: 2px dashed var(--laranja-claro);
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--cor3);
    color: var(--branco);
    border-radius: 50%;
    padding: 10px;
}

header {
    background-color: var(--branco);
}

.nav-link {
    color: var(--laranja-claro);
    font-weight: 600;
}

.inicio-fundo {
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}

.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
}

.formulario {
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 10px;
}

.menu-acessibilidade {
    position: fixed;
    top: 2rem;
    right: 20px;
    z-index: 1000;
}

.rotacao-botao {
    transform: rotate(-90deg);
}

.alto-contraste {
    background-color: var(--branco);
    color: var(--cor-principal);
}
